<%- include('./partials/header') %>


  <div id="indexPage">
    <h1>DON'T DRINK AND DRIVE</h1>
    <a href="/auth/google" class="display-7">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  </div>
  </body>

  </html>