<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>According to chemistry, alcohol is a solution...</h1>
  <a href="/drinks">Start making notes</a>
</body>

</html>